.header-wrapper {
    text-align: center;
    margin-top: 15px;
    
    h1 {
        font-size: 30px;
        display: inline;
        cursor: pointer;
    }

    .fa-coffee {
        font-size: 25px;
        display: inline;
        margin-left: 15px;
        cursor: pointer;
    }
}