<div class="form-tabs-wrapper"> 
    <span (click)="toggleTab(true)"
        class="form-tab active-tab"
        [ngClass]="{'active-tab': existingCustomer, 'inactive-tab': !existingCustomer}"
        id="existing-customer-tab">
    Sign In</span>


    <span (click)="toggleTab(false)"
        class="form-tab inactive-tab"
        [ngClass]="{'active-tab': !existingCustomer, 'inactive-tab': existingCustomer}"
        id="new-customer-tab">
    Sign Up</span>
</div>

<!-- <div class="form-message">
    <p>Log in to your account</p>
</div> -->

<form class="sign-up-form">
    <ng-container *ngIf="!existingCustomer">
        <label class='form-label' for='firstName'>First Name </label>
        <input name='firstName' id='firstName' type='text'>
        <br>
    
        <label class='form-label' for='lastName'>Last Name </label>
        <input name='lasttName' id='lastName' type='text'>
        <br>
    </ng-container>

    <label class='form-label' for='email'>Email </label>
    <input name='email' id='email' type='email'>
    <br>

    <label class='form-label' for='password'>Password </label>
    <input name='password' id='password' type='password'>
</form>

<div class="button-wrapper">
    <button class="submit-button">
        {{ existingCustomer ? 'Sign In' : 'Sign Up' }}
    </button>
</div>

<div class="forgot-passord-wrapper">
    
</div>